* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  .body {
    background: radial-gradient(circle, rgba(62, 66, 75, 1) 0%, rgba(32, 36, 45, 1) 100%);
  }
  .navbar{
    background: radial-gradient(circle, rgba(62, 66, 75, 1) 0%, rgba(32, 36, 45, 1) 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;

  }
  .navlinks a {
    height: 35px;
    width: 100px;
    border-radius: 20px;
  }
  
  .navlinks a:hover {
    background-color: white;
    color: #4295ee !important;
  
  }
  .search:hover,
.cart:hover {
  color: #4295ee;
}

.search {
  border-right: 2px solid white;
  color: white;
}

.cart {
  color: white;
}
  .icons {
    display: flex;
    flex-basis: auto;
    height: 100%;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
  }

  .proimg {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #0070fc;
    text-align: center;
  }

  .clients {
    margin-top: 3em;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(62, 66, 75, 0.871) 0%, rgba(32, 36, 45, 1) 100%), url(./assets/client.jpg), no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .counter {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 60px;
  }
  .sales {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
  
  }
  
  .sales p {
    text-align: center;
    font-size: 1.7em;
    font-weight: 300;
  }
  
  .user {
    font-size: 1.8em;
    padding-bottom: 15px;
  }
  
  .customers {
    height: 400px;
    padding-top: 70px;
  }
  /* gallery */

.gallery {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-size: cover;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 80%;
    height: 80%;
    margin-top: 2em;
    grid-gap: 10px;
  }
  
  .grid-item1 {
    background-image: url("./assets/item\ 1.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
    border-radius: 10px;
  }
  
  .grid-item2 {
    background-image: url("./assets/item\ 2.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
    border-radius: 10px;
  }
  
  .grid-item3 {
    background-image: url("./assets/item\ 3.webp");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
    border-radius: 10px;
  }
  
  .grid-item4 {
    background-image: url("./assets/item\ 4.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
    border-radius: 10px;
  }
  
  .grid-item5 {
    background-image: url("./assets/item\ 5.webp");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
    border-radius: 10px;
  }
  
  .grid-item6 {
    background-image: url("./assets/item\ 6.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
    border-radius: 10px;
  }
  
  .grid-item7 {
    background-image: url("./assets/item\ 7.webp");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
    border-radius: 10px;
  }
  
  .grid-item8 {
    background-image: url("./assets/item\ 9.webp");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
    border-radius: 10px;
  }
  .grid div {
      position: relative;
  }
  .grid div::before {
      position: absolute;
      top: 0;
      left: 0%;
      z-index: 1;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.068) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.082) 100%);
      -webkit-transform: skewX(0deg);
      transform: skewX(0deg);
  }
  .grid div:hover::before {
      -webkit-animation: shine .5s;
      animation: shine .5s;
  }
  @-webkit-keyframes shine {
      100% {
          left: 100%;
      }
  }
  @keyframes shine {
      100% {
          left: 50%;
      }
  }
  /* form */
.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f323e;
  }
  
  .new_home_web {
    width: 80%;
  }
  
  .new_home_web .text-blk {
    margin: 0;
    line-height: 25px;
    padding: 0;
  }
  
  .new_home_web .text-blk.subHeading {
    text-align: center;
    color: #939393;
    max-width: 630px;
  }
  
  .new_home_web .text-blk.heading {
    font-size: 36px;
    line-height: 55px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .new_home_web .responsive-container-block.textContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 1320px;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
    width: 50%;
    padding: 0 0 25px 10px;
  }
  
  .new_home_web .send {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color: #4295ee;
    width: 80%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new_home_web .send:hover {
    background-color: #fff;
    color: #28518f;
  }
  
  .new_home_web .container-block.form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    width: 100%;
    padding: 0;
    max-width: 1100px;
  }
  
  .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    max-width: 310px;
    padding: 0 40px 0 0;
  }
  
  .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 30px 0;
    padding: 0 10px 0 10px;
    width: 100%;
  }
  
  .new_home_web .textinput {
    height: 100%;
    width: 100%;
    border: 2px solid #a2a2a2;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px 30px 20px 20px;
    background-color: #f1f1f1;
  }
  
  .new_home_web .input {
    height: 50px;
    width: 100%;
    border: 2.5px solid #a2a2a2;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    background-color: #f1f1f1;
  }
  
  .new_home_web .responsive-container-block.big-container {
    padding: 0 50px 0 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .new_home_web .responsive-container-block.container {
    max-width: 1320px;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px auto;
    z-index: 50;
  }
  
  .new_home_web .responsive-cell-block {
    min-height: 75px;
  }
  
  .new_home_web textarea:focus,
  .new_home_web input:focus {
    outline: none;
  }
  
  .new_home_web a {
    text-decoration: none;
  }
  
  .new_home_web .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto 40px auto;
  }
  
  .new_home_web .left4 {
    width: 50%;
    padding: 0 10px 0 0;
  }
  
  .new_home_web .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12.lastPhone {
    margin: 0;
  }
  
  .new_home_web .blueline {
    height: 10px;
    width: 160px;
    background-color: #4295ee;
  }
  
  .new_home_web .topHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
  }
  
  .new_home_web .imgBG {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
    bottom: 0;
  }
  
  .container {
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
    /* footer */

    .footer {
        background: radial-gradient(circle, rgba(62, 66, 75, 1) 0%, rgba(32, 36, 45, 1) 100%);
        display: flex;
        align-items: center;
        padding: 70px 145px;
        width: 100%;
      }
      
      .footer-col {
        width: 25%;
        padding: 0 15px;
      }
      
      .footer-col h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
      }
      
      .footer-col h4::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #4295ee;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
      }
      
      .footer-col ul li:not(:last-child) {
        margin-bottom: 10px;
      }
      
      .footer-col ul li a {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
      }
      
      .footer-col ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
      }
      
      .footer-col .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #4295ee;
        transition: all 0.5s ease;
        background-color: #dfdfdf;
      }
      
      .footer-col .social-links a:hover {
        color: #ffffff;
        background-color: #4295ee;
      }
      









  @media only screen and (max-width : 990px){
    .herosection{
        padding-top: 100px !important;
        padding-bottom: 30px;
    }
  }
  @media (max-width: 1024px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      margin: 60px 0 0;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      padding: 0 20px 60px;
    }
  
    .new_home_web .responsive-container-block.container {
      justify-content: center;
    }
  }
  
  @media (max-width: 768px) {
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12,
    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      padding: 0;
      width: 100%;
    }
  
    .new_home_web .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-bottom: 10px;
    }
  
    .new_home_web .container-block.form-wrapper {
      align-items: center;
    }
  
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10,
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
      width: 100%;
      margin-top: 30px;
      padding-bottom: 20px;
    }
  
    .new_home_web .responsive-container-block.container {
      flex-direction: column;
    }
  
    .new_home_web .textinput,
    .new_home_web .input {
      width: 100%;
    }
  
    .new_home_web .left4 {
      padding: 0;
      width: 100%;
      margin-bottom: 25px;
    }
  
    .new_home_web .responsive-container-block {
      flex-direction: column;
      align-items: center;
    }
  
    .new_home_web .textinput {
      height: 200px;
    }
  
    .new_home_web .imgBG {
      width: 100%;
      height: 90%;
      top: auto;
      left: auto;
    }
  
    .new_home_web .text-blk.heading {
      font-size: 30px;
    }
  }
  
  @media (max-width: 500px) {
    .new_home_web .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
      flex-wrap: wrap;
    }
  
    .new_home_web .send {
      padding: 15px;
      text-align: center;
      width: 70%;
    }
  
    .new_home_web .responsive-container-block.big-container {
      padding: 0 20px;
    }
  
    .new_home_web .text-blk.heading {
      font-size: 30px;
      text-align: center;
      line-height: 35px;
    }
  
    .new_home_web .send {
      width: 100%;
      max-width: 250px;
    }
  
    .new_home_web .imgBG {
      height: 60%;
    }
  
    .new_home_web .text-blk.subHeading {
      font-size: 16px;
      line-height: 24px;
    }
  
    .new_home_web .responsive-container-block.textContainer {
      margin: 50px 0 30px;
    }
  
    .new_home_web .input {
      height: 45px;
    }
  
  
    .wk-desk-1 {
      width: 8.333333%;
    }
  
    .wk-desk-2 {
      width: 16.666667%;
    }
  
    .wk-desk-3 {
      width: 25%;
    }
  
    .wk-desk-4 {
      width: 33.333333%;
    }
  
    .wk-desk-5 {
      width: 41.666667%;
    }
  
    .wk-desk-6 {
      width: 50%;
    }
  
    .wk-desk-7 {
      width: 58.333333%;
    }
  
    .wk-desk-8 {
      width: 66.666667%;
    }
  
    .wk-desk-9 {
      width: 75%;
    }
  
    .wk-desk-10 {
      width: 83.333333%;
    }
  
    .wk-desk-11 {
      width: 91.666667%;
    }
  
    .wk-desk-12 {
      width: 100%;
    }
  }

  @media (max-width: 590px) {
    .footer {
      padding: 40px 56px;
    }
    .footer-col {
        width: 100%;
      }
      ul{
        padding-left: 0;
      }
}